WebApp/WebApp/WebApp/bin/Antlr3.Runtime.dll
WebApp/WebApp/WebApp/bin/AutoMapper.dll
WebApp/WebApp/WebApp/bin/EntityFramework.SqlServer.dll
WebApp/WebApp/WebApp/bin/EntityFramework.dll
WebApp/WebApp/WebApp/bin/Microsoft.AI.Agent.Intercept.dll
WebApp/WebApp/WebApp/bin/Microsoft.AI.DependencyCollector.dll
WebApp/WebApp/WebApp/bin/Microsoft.AI.PerfCounterCollector.dll
WebApp/WebApp/WebApp/bin/Microsoft.AI.ServerTelemetryChannel.dll
WebApp/WebApp/WebApp/bin/Microsoft.AI.Web.dll
WebApp/WebApp/WebApp/bin/Microsoft.AI.WindowsServer.dll
WebApp/WebApp/WebApp/bin/Microsoft.ApplicationInsights.dll
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.Identity.Core.dll
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.Identity.EntityFramework.dll
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.Identity.Owin.dll
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.SignalR.Core.dll
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.SignalR.SystemWeb.dll
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Host.SystemWeb.dll
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.Cookies.dll
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.Facebook.dll
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.Google.dll
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.OAuth.dll
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.Twitter.dll
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.dll
WebApp/WebApp/WebApp/bin/Microsoft.Owin.dll
WebApp/WebApp/WebApp/bin/Microsoft.Practices.ServiceLocation.dll
WebApp/WebApp/WebApp/bin/Microsoft.Practices.Unity.Configuration.dll
WebApp/WebApp/WebApp/bin/Microsoft.Practices.Unity.Mvc.dll
WebApp/WebApp/WebApp/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
WebApp/WebApp/WebApp/bin/Microsoft.Practices.Unity.dll
WebApp/WebApp/WebApp/bin/Microsoft.Web.Infrastructure.dll
WebApp/WebApp/WebApp/bin/MvcSiteMapProvider.WebActivator.dll
WebApp/WebApp/WebApp/bin/MvcSiteMapProvider.dll
WebApp/WebApp/WebApp/bin/Newtonsoft.Json.dll
WebApp/WebApp/WebApp/bin/Owin.dll
WebApp/WebApp/WebApp/bin/Repository.Pattern.Ef6.dll
WebApp/WebApp/WebApp/bin/Repository.Pattern.dll
WebApp/WebApp/WebApp/bin/Service.Pattern.dll
WebApp/WebApp/WebApp/bin/System.Web.Helpers.dll
WebApp/WebApp/WebApp/bin/System.Web.Mvc.dll
WebApp/WebApp/WebApp/bin/System.Web.Optimization.dll
WebApp/WebApp/WebApp/bin/System.Web.Razor.dll
WebApp/WebApp/WebApp/bin/System.Web.WebPages.Deployment.dll
WebApp/WebApp/WebApp/bin/System.Web.WebPages.dll
WebApp/WebApp/WebApp/bin/WebActivatorEx.dll
WebApp/WebApp/WebApp/bin/WebGrease.dll
WebApp/WebApp/WebApp/bin/log4net.dll
WebApp/WebApp/WebApp/bin/System.Web.WebPages.Razor.dll
WebApp/WebApp/WebApp/bin/Antlr3.Runtime.pdb
WebApp/WebApp/WebApp/bin/ApplicationInsights.config
WebApp/WebApp/WebApp/bin/AutoMapper.xml
WebApp/WebApp/WebApp/bin/EntityFramework.SqlServer.xml
WebApp/WebApp/WebApp/bin/EntityFramework.xml
WebApp/WebApp/WebApp/bin/Microsoft.AI.DependencyCollector.xml
WebApp/WebApp/WebApp/bin/Microsoft.AI.ServerTelemetryChannel.xml
WebApp/WebApp/WebApp/bin/Microsoft.AI.Web.xml
WebApp/WebApp/WebApp/bin/Microsoft.AI.WindowsServer.xml
WebApp/WebApp/WebApp/bin/Microsoft.ApplicationInsights.xml
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.Identity.Core.xml
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.Identity.EntityFramework.xml
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.Identity.Owin.xml
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.SignalR.Core.xml
WebApp/WebApp/WebApp/bin/Microsoft.AspNet.SignalR.SystemWeb.xml
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Host.SystemWeb.xml
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.Cookies.xml
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.Facebook.xml
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.Google.xml
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.OAuth.xml
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.Twitter.xml
WebApp/WebApp/WebApp/bin/Microsoft.Owin.Security.xml
WebApp/WebApp/WebApp/bin/Microsoft.Owin.xml
WebApp/WebApp/WebApp/bin/Microsoft.Practices.ServiceLocation.pdb
WebApp/WebApp/WebApp/bin/Microsoft.Practices.ServiceLocation.xml
WebApp/WebApp/WebApp/bin/Microsoft.Practices.Unity.Configuration.xml
WebApp/WebApp/WebApp/bin/Microsoft.Practices.Unity.Mvc.xml
WebApp/WebApp/WebApp/bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
WebApp/WebApp/WebApp/bin/Microsoft.Practices.Unity.xml
WebApp/WebApp/WebApp/bin/MvcSiteMapProvider.WebActivator.xml
WebApp/WebApp/WebApp/bin/MvcSiteMapProvider.xml
WebApp/WebApp/WebApp/bin/Newtonsoft.Json.xml
WebApp/WebApp/WebApp/bin/System.Web.Helpers.xml
WebApp/WebApp/WebApp/bin/System.Web.Mvc.xml
WebApp/WebApp/WebApp/bin/System.Web.Optimization.xml
WebApp/WebApp/WebApp/bin/System.Web.Razor.xml
WebApp/WebApp/WebApp/bin/System.Web.WebPages.Deployment.xml
WebApp/WebApp/WebApp/bin/System.Web.WebPages.Razor.xml
WebApp/WebApp/WebApp/bin/System.Web.WebPages.xml
WebApp/WebApp/WebApp/bin/WebApp.dll
WebApp/WebApp/WebApp/bin/WebApp.dll.config
WebApp/WebApp/WebApp/bin/WebApp.pdb
WebApp/WebApp/WebApp/bin/log4net.xml
WebApp/WebApp/WebApp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WebApp/WebApp/WebApp/bin/roslyn/Microsoft.CSharp.Core.targets
WebApp/WebApp/WebApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WebApp/WebApp/WebApp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WebApp/WebApp/WebApp/bin/roslyn/Microsoft.CodeAnalysis.dll
WebApp/WebApp/WebApp/bin/roslyn/Microsoft.VisualBasic.Core.targets
WebApp/WebApp/WebApp/bin/roslyn/System.Collections.Immutable.dll
WebApp/WebApp/WebApp/bin/roslyn/System.Reflection.Metadata.dll
WebApp/WebApp/WebApp/bin/roslyn/VBCSCompiler.exe
WebApp/WebApp/WebApp/bin/roslyn/VBCSCompiler.exe.config
WebApp/WebApp/WebApp/bin/roslyn/csc.exe
WebApp/WebApp/WebApp/bin/roslyn/vbc.exe
WebApp/WebApp/WebApp/obj/Debug/WebApp.csprojResolveAssemblyReference.cache
WebApp/WebApp/WebApp/obj/Debug/WebApp.dll
WebApp/WebApp/WebApp/obj/Debug/WebApp.pdb
WebApp/WebApp/.vs/
