@model IEnumerable<WebApp.Models.Roles>
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="ibox-title">
        <h5> Roles </h5>
    </div>
    <div class="ibox-content">
        @if (Model != null && Model.Count() > 0)
            {
            <table class="table table-hover snap-primary-table">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Date Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RoleName</td>
                            <td>
                                <a class="grid_action" href="@Url.Action("RolePermissions", "Permissions", new { id = item.RoleId })" title="Permissions"><i class="fa fa-users"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>