

<aside class="main-sidebar hidden-print ">
    <section class="sidebar" id="sidebar-scroll">
        <div class="user-panel">
            <div class="f-left image"><img src="/assets/images/avatar-1.png" alt="User Image" class="img-circle"></div>
            <div class="f-left info">
                <p>John Doe</p>
                <p class="designation">UX Designer</p>
            </div>
        </div>
        
        <!-- Sidebar Menu-->
        <ul class="sidebar-menu">


            

            @if (Request.Url.ToString().ToLower().Contains("/admin/levels"))
            {
                <li class="active">
                    <a href="~/Admin/levels"><i class="fa fa-bar-chart"></i><span class="nav-label">Levels</span></a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/Admin/levels"><i class="fa fa-bar-chart"></i><span class="nav-label">Levels</span></a>
                </li>
            }

            @if (Request.Url.ToString().ToLower().Contains("/admin/actions") || Request.Url.ToString().ToLower().Contains("/admin/detailaction"))
            {
                <li class="active">
                    <a href="~/Admin/Actions"><i class="fa fa-tasks"></i><span class="nav-label">Actions</span></a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/Admin/Actions"><i class="fa fa-tasks"></i><span class="nav-label">Actions</span></a>
                </li>
            }
        </ul>
    </section>
</aside>