@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
    <header class="main-header-top hidden-print">
        @*<a href="index.html" class="logo"><img class="img-fluid able-logo" src="/assets/images/logo.png" alt="Theme-logo"></a>*@
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->@*<a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>*@
            <!-- Navbar Right Menu-->
            <div class="navbar-custom-menu">
                <ul class="top-nav">
                    @if (Request.Url.ToString().ToLower().Contains("/home/") || ViewContext.RouteData.Values["controller"].ToString().ToLower().Equals("home"))
                    {
                        <li class="active">
                            <a href="~/Home/Index"><i class="fa fa-home"></i><span class="nav-label">Home</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/Home/Index"><i class="fa fa-home"></i><span class="nav-label">Home</span></a>
                        </li>
                    }

                    @if (Request.Url.ToString().ToLower().Contains("/events"))
                    {
                        <li class="active">
                            <a href="~/Events/Index"><i class="fa fa-calendar"></i> <span class="nav-label">Events</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/Events/Index"><i class="fa fa-calendar"></i> <span class="nav-label">Events</span></a>
                        </li>
                    }

                    @if (Request.Url.ToString().ToLower().Contains("/user/editprofile"))
                    {
                        <li class="active">
                            <a href="~/User/EditProfile"><i class="fa fa-user"></i> <span class="nav-label">Profile</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/User/EditProfile"><i class="fa fa-user"></i> <span class="nav-label">Profile</span></a>
                        </li>
                    }
                    @if (Request.Url.ToString().ToLower().Contains("/venue"))
                    {
                        <li class="active">
                            <a href="~/Venue/Index"><i class="fa fa-street-view"></i> <span class="nav-label">Venue</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/Venue/Index"><i class="fa fa-street-view"></i> <span class="nav-label">Venue</span></a>
                        </li>
                    }

                    @if (WebApp.HelperClass.Common.CurrentUser.IsSuperAdmin)
                    {
                        if (Request.Url.ToString().ToLower().Contains("/sports"))
                        {
                            <li class="active">
                                <a href="~/Sports/Index"><i class="fa fa-futbol-o"></i> <span class="nav-label">Sport</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="~/Sports/Index"><i class="fa fa-futbol-o"></i> <span class="nav-label">Sport</span></a>
                            </li>
                        }
                    }
                    @if (Request.Url.ToString().ToLower().Contains("/ticket"))
                    {
                        <li class="active">
                            <a href="~/Ticket/Index"><i class="fa fa-ticket"></i> <span class="nav-label">Buy Ticket</span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/Ticket/Index"><i class="fa fa-ticket"></i> <span class="nav-label">Buy Ticket</span></a>
                        </li>
                    }


                    @if (WebApp.HelperClass.Common.CurrentUser.IsSuperAdmin)
                    {
                        if (Request.Url.ToString().ToLower().Contains("/user/index"))
                        {
                            <li class="active">
                                <a href="~/User/Index"><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="~/User/Index"><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
                            </li>
                        }
                    }

                    <!--Notification Menu-->
                    <li class="dropdown notification-menu">
                        <a href="#!" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                            <i class="icon-bell"></i>
                            <span class="badge badge-danger header-badge">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="not-head">You have <b class="text-primary">4</b> new notifications.</li>
                            <li class="bell-notification">
                                <a href="javascript:;" class="media">
                                    <span class="media-left media-icon">
                                        <img class="img-circle" src="/assets/images/avatar-1.png" alt="User Image">
                                    </span>
                                    <div class="media-body"><span class="block">Lisa sent you a mail</span><span class="text-muted block-time">2min ago</span></div>
                                </a>
                            </li>
                            <li class="bell-notification">
                                <a href="javascript:;" class="media">
                                    <span class="media-left media-icon">
                                        <img class="img-circle" src="/assets/images/avatar-2.png" alt="User Image">
                                    </span>
                                    <div class="media-body"><span class="block">Server Not Working</span><span class="text-muted block-time">20min ago</span></div>
                                </a>
                            </li>
                            <li class="bell-notification">
                                <a href="javascript:;" class="media">
                                    <span class="media-left media-icon">
                                        <img class="img-circle" src="/assets/images/avatar-3.png" alt="User Image">
                                    </span>
                                    <div class="media-body"><span class="block">Transaction xyz complete</span><span class="text-muted block-time">3 hours ago</span></div>
                                </a>
                            </li>
                            <li class="not-footer">
                                <a href="#!">See all notifications.</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Menu-->
                    <li class="dropdown">
                        <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                            <span><img class="img-circle " src="@(WebApp.HelperClass.Common.CurrentUser.ProfilePic ==  null ? "/assets/images/avatar-1.png" : WebApp.HelperClass.Common.CurrentUser.ProfilePic)" style="width:40px;height:40px" alt="User Image"></span>
                            <span><b>@WebApp.HelperClass.Common.CurrentUser.Name</b> <i class="icofont icofont-simple-down"></i></span>

                        </a>
                        <ul class="dropdown-menu settings-menu">
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
}